<hr>

<!-- comment show  -->
<% @comments.each do |comment| %>
	<h1 class="page_header">
		<%= comment.body %>
	</h1>
<% end %>

<!-- comment section -->
<div class="col-md-8">
	<%= simple_form_for(@comments.new, remote: true) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :body, label: false %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	<% end %>
</div>