<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th>Author</th>
      <% if(current_user.role == "admin") %>
        <th colspan="3">Actions</th>
      <% elsif(current_user.role == "writer") %>
        <th colspan="2">Actions</th>
      <% else %>
        <th>Actions</th>
      <% end%>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.published %></td>
        <td><%= article.author.email %></td>
        <% if(current_user.role == "admin") %>
          <td><%= link_to 'Show', article ,:class => 'btn btn-default'%></td>
          <td><%= link_to 'Edit', edit_article_path(article),:class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-danger' %></td>
        <% elsif(current_user.role == "writer" && article.author_id == current_user.id) %>
           <td><%= link_to 'Show', article %></td>
           <td><%= link_to 'Edit', edit_article_path(article),:class => 'btn btn-primary' %></td>
           <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-danger' %></td>
        <% elsif(current_user.role == "writer" ) %>
            <td><%= link_to 'Show', article,:class => 'btn btn-default' %></td>
        <% else %>
            <td><%= link_to 'Show', article,:class => 'btn btn-default' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>
<br>
<% if(current_user.role == "writer" || current_user.role == "admin") %>
  <%= link_to 'New Article', new_article_path %>
<% end %>