<%= link_to 'Back', articles_path, :class => 'align-left' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author.first_name %>
</p>
<p>
	<strong>Avatar:</strong>
	<%= image_tag("#{@article.avatar}" ,:alt=>"Not found/Not Retrived")%>
</p>
<% if(current_user.admin?) ||(current_user.writer? && current_user.id == @article.author.id ) %>
	<%= link_to 'Edit', edit_article_path(@article) %> 
<% end %>

<%= render 'comments' %>