<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published?</th>
      <% if(current_user.admin?) %>
        <th colspan="3">Actions</th>
      <% else %>
        <th>Actions</th>
      <% end%>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.body %></td>
        <td><%= category.published%></td>
        <% if(current_user.admin?) %>
            <td><%= link_to 'Show', category, class: 'btn btn-default' %></td>
            <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
         <% else %>
            <td><%= link_to 'Show', category, class: 'btn btn-default' %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>

<br>
<%if current_user.admin? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>