<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to "Logo" , root_url ,class: "navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
            <li><%=link_to('View All Categories',categories_path)%></li>
            <li><%=link_to('View All Articles',articles_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to('Logout' , destroy_user_session_path , :class =>'glyphicon glyphicon-log-out') %></li>
      <% else %>
        <li><%= link_to('Login' , user_session_path , :class =>'glyphicon glyphicon-log-in') %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
