<!DOCTYPE html>
<html>
  <head>
  	<meta name="google-site-verification" content="jS-0qVgd-_MHfrj8pT5z_evb_TuJlEbFSajlL3K2lNQ" />
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
	  	<%= render 'layouts/header' %>
	    <div class="container-fluid text-left">   
	    	<div class="row content">
	    		<% if user_signed_in? %>
	    			<div class="col-sm-2 sidenav">
				      <% for x in $categ do %>
				      	<p><%= link_to("#{x.title}",category_path(x.id))%></p>
				      	<% for y in x.articles do %>
				      		<% if(current_user.role == "admin") %> 
				      			<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("#{y.title}",article_path(y.id))%></p>	
				      		<% elsif(current_user.role=="writer" && (( y.author_id == current_user.id) || (y.published == true))) %>
				      			<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("#{y.title}",article_path(y.id))%></p>
				      		<% elsif(current_user.role=="viewer" && y.published == true) %>
				      			<p>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("#{y.title}",article_path(y.id))%></p>
				      		<% end %>
				      	<% end %>
				      <% end %>
				    </div>
	    		<% end %>
	    		<div class="col-sm-8 text-left"> 
	    			<%= yield %>
	    		</div>
	    	</div>
	    </div>
	  	<%= render 'layouts/footer' %>
  </body>
</html>